.card-title {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: yellow;
  font-size: 60px;

}

.cards {
  display: flex;
  background-color: black;
  justify-content: space-around;
}

.card h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  margin: 0;
  color: yellow;
}

.card img {
  height: 250px;
}
