.container {
  position: absolute;
  top: 30px;
  right: 60px;
}

.container h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 180px;
  color: #FA4300;
  text-align: right;
  margin: 0;
}

.container h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  color: #FA4300;
  margin: 70px 0 0 0;
  text-align: right;
}

